.page[b-pn7cp6z55v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pn7cp6z55v] {
    flex: 1;
}

.sidebar[b-pn7cp6z55v] {
    background-color: rgba(30, 30, 30, 1);
}

.top-row[b-pn7cp6z55v] {
    background-color: #BFBFBF;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pn7cp6z55v]  a, .top-row[b-pn7cp6z55v]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pn7cp6z55v]  a:hover, .top-row[b-pn7cp6z55v]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pn7cp6z55v]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-pn7cp6z55v] {
        display: none;
        /* justify-content: space-between; */
    }

    /* .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    } */
}

@media (min-width: 641px) {
    .page[b-pn7cp6z55v] {
        flex-direction: row;
    }

    .sidebar[b-pn7cp6z55v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pn7cp6z55v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pn7cp6z55v]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pn7cp6z55v], article[b-pn7cp6z55v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
