@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>
        <div class="container-logo">
            <img class="image-home" src="img/logo-home.png" alt="Logo Home" />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
