@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="link-github"
               href="https://github.com/maykonmendel/desafio-balta-may-the-fourth-frontend.git"
               alt="Projeto no Github"
               target="_blank">
                <span class="fa-brands fa-github fa-xl"></span>
            </a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
