<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img class="logo-brand" src="img/logo-app-alt.png" alt="Logo" />
        </a>
        <span class="toggler-sidebar navbar-toggler-icon" @onclick="ToggleNavMenu" title="Navigation menu"></span>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/movies">
                <span class="bi bi-movie-nav-menu" aria-hidden="true"></span> Filmes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/persons">
                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Personagens
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/vehicles">
                <span class="bi bi-vehicle-nav-menu" aria-hidden="true"></span> Veículos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/planets">
                <span class="bi bi-planet-nav-menu" aria-hidden="true"></span> Planetas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/airplanes">
                <span class="bi bi-airplane-nav-menu" aria-hidden="true"></span> Naves Estelares
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
