.image-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;
}

.image-home {
    height: 60%;
    opacity: .6;

    margin-top: 2.5rem;
}

@media (max-width: 641px) {
    .image-home {
        width: 90%;
    }
}